{% extends "layout.twig" %}
{% block content %}
    <h2>Contact</h2>

    <p>The best way to contact me is either by filling out the below contact form or emailing me directly.  Please only use phone contact for urgent inquiries.</p>

    <form id="contactForm" action="{{ path_for('processContact') }}" method="post">
        <fieldset>
            <h3>Contact Form:</h3>
            {% if messages is defined %}
                {% for message in messages["success"] %}
                    <p class="success">{{ message }}</p>
                {% endfor %}
                {% for message in messages["fail"] %}
                    <p class="fail">{{ message }}</p>
                {% endfor %}
            {% endif %}

            <label for="name">Your name <span class="requiredField">*</span></label><br>
            <input type="text" id="name" name="name"{% if name is defined %} value="{{ name }}" {% endif %} required><br>

            <label for="email">Your email address <span class="requiredField">*</span></label><br>
            <input type="email" id="email" name="email" placeholder="email@example.com"{% if email is defined %} value="{{ email }}" {% endif %} required><br>
            
            <label for="subject">Subject <span class="requiredField">*</a></label><br>
            <input type="text" id="subject" name="subject" {% if subject is defined %} value="{{ subject }}" {% endif %} required><br>


            <label for="message">Message <span class="requiredField">*</span></label><br>
            <textarea id="message" name="message">{% if msg is defined %}{{ msg }}{% endif %}</textarea><br>

            <input type="text" id="test_name" name="test_name" placeholder="Do not type anything in this input field.">

            <input type="submit" id="send" name="send" value="Send">
        </fieldset>
    </form>

    <div id="contactDetails">
        <h3>Contact Details:</h3>
        <ul id="contactList">
            <li><a href="tel:6047733002" id="phoneLink">(604) 773-3002</a></li>
            <li><a href="mailto:hanleychan@gmail.com" id="emailLink">hanleychan@gmail.com</a></li>
            <li><a href="https://twitter.com/intent/tweet?screen_name=hanley_chan" id="twitterLink">@hanley_chan</a></li>
        </ul>
    </div>

{% endblock %}

